{% extends 'Base.html' %}
{% block title %}About{% endblock title %}
{% block BaseHeading %}About{% endblock BaseHeading %}
{% block BaseData %}
        <span id="main" style="font-size: 14px;text-shadow: 2px 2px 10px black;">______Hello, I Am</span>
        <h1><b>PIYUSH THAWARE</b></h1>
        <p style="font-size: 14px;" class="my-4">Welcome to my portfolio, I’m a highly skilled Django Python
            developer with a passion for solving
            complex problems. With a strong background in coding and a love for technology. combined with my
            strong problem-solving skills, make me a valuable asset to any team. I’m constantly pushing
            myself
            to stay up-to-date with the latest technologies and trends in the industry, ensuring that it is
            always able to deliver top-quality work.</p>
        <a href=""><button class="btn btn-sm btn-primary p-3">Download CV</button></a>
{% endblock BaseData %}